* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @media(max-width:321px){

    #hero1{
      img{
        height:200px;
        width:100%;
      }
    }

    #hero2{
      p{
        font-size:10px;
      }
    }

    #shop1{
      padding:1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border: 1px solid green;
    }

    #shop2{
      h3{
        font-size:18px;
      }
    }

    #shop3{
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
      gap: 1rem;
    }

    #shop4{
      width:90%;
    }

    #fest1{
      h3{
        font-size:18px;
      }
      p{
        font-size:14px;
        text-align: center;
      }
    }

    #deal1{
      h3{
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
    }

    #per1{
      h3{
        font-size: 18px;
      }
    }

    #per2{
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
      flex-direction: column;
    }

    #per3{
      width:90%;
      p{
        font-size:14px;
        text-align: center;
      }
    }

    #got1{
      flex-direction: column;
      translate: 0px 2rem;
      gap: 10px;
    }

    #got2{
      flex-direction: column;
      padding: 10px;
      width: 80%;
      /* gap: 0 16px; */
      img{
        /* border: 1px solid red; */
        width:6.2rem;
        height: 6rem;
      }
      p{
        translate: 0 1.8rem;
        font-size: 12px;
      }
    }

    #got3{
      p{
        font-size:14px;
        text-align: center;
        padding: 10px;
      }
    }

    #join1{
      translate: -15rem;
      width: 100%;
      margin-bottom: 10px;
      flex-direction: row;
    }

    #join2{
      height: 8rem;
      width: 40%;
      /* translate: -1rem; */
      background-color: white;
      img{
        translate: 0px -3.2rem;
        padding: 10px;
        margin-right: 1rem;
      }
    }

    #j1{
      h3{
        font-size: 16px;
      }
    }

    #join3{
      height: 8rem;
      flex-direction: column;
      width:50%;
      padding: 10px;
      background-color: white;
      line-height: 14px;
    
      img{
        width: 1.5rem;
        height: 1.5rem; 
      }
      p{
        font-size:10px;
        text-align: center;
      }
      a{
        span{
          font-size:12px;
          font-weight: bold;
        }
      }
      button{
        margin-top: 3px;
        width:50%;
        a{
          font-size: 10px;
          text-align: center;
        }
      }
    }

    #foot1{
      flex-direction: column;
    }

    #foot2{
      width: 100%;
      translate: 0 3rem;
      border-bottom: 1px solid white ;
      /* flex-direction: row; */
    }

    #foot3{
      width:100%;
      padding:1rem;
      padding-left: 10px;
      padding-bottom: 6px;
      border-bottom: 1px solid white ;
      p{
        font-size:12px;
      }
    }

    #foot0{
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
    }

    #foot4{
      width:100%;
    }

    #foot5{
      margin-left: 10px;
      img{
        width:2.9rem;
        height: 2.6rem;
      }
    }

    #foot6{
      margin-top: 10px;
      margin-left: 10px;
      p{
        font-size: 12px;
      }
    }

    #foot7{
      margin-top: 10px;
      margin-left: 10px;
    }

    #foot8{
      width:1rem;
      height: 1rem;
      margin-bottom: 16px;
    }

    #foot9{
      translate: -5rem;
      margin-top: 10px;
      p{
        font-size: 12px;
      }
    }

    #foot10{
      width:12px;
      height: 12px;
    }

    #nav1{
      width:13rem;
      /* border : 1px solid blue; */
      img{
        width:13rem;
        height:3rem;
      }
    }

    #nav2{
      p{
        margin-left: 1rem;
        font-size: 8px;
        padding:-5px;
      }
    }

    #nav3{
      padding:-5px;
      a{
        p{
          margin-right: 1rem;
          font-size: 8px;
        }
      }
    }

    #nav4{
      /* border : 1px solid green; */
      translate: 3px;
      ul{
        gap: 10px;
        li{
          font-size: 10px;
        }
      }
    }

    #nav5{
      width:1.5rem;
      height: 14px;
    }

    #nav6{
      /* border: 1px solid yellow; */
      gap: 1px;
      translate: 5px;
    }

    #nav7{
      gap:6px;
    }

    #men1{
      flex-direction: row;
    }
  
    #men2{
      translate: -2rem;
      width:50%;
    }
  
    #men3{
      h3{
        font-size: 14px;
      }
    }
  
    #men4{
      padding: 6px;
      img{
        width:20rem;
        height:10rem;
      }
    }
  
    #men5{
      label{
        font-size: 10px;
      }
    }
  
    #men6{
      h2{
        font-size: 14px;
      }
    }
  
    #men7{
      h3{
        font-size: 12px;
      }
      span{
        font-size: 10px;
      }
    }
  
    #men8{
      font-size: 10px;
      margin-top: 4px;
      margin-left: 4px;
    }
  
    #men9{
      h3{
        font-size: 14px;
      }
    }
  
    #men10{
      font-size: 10px;
      button{
        font-size: 8px;
        padding: 2px;
      }
    }
  
    #men11{
      padding:6px;
      padding-left: 1px;
      h2{
        font-size: 12px;
      }
    }
  
    #men12{
      p{
        font-size: 10px;
      }
    }

    #vid1{
      width:100%;
      height: 12rem;
      video{
        width:100%;
        height: 12rem;
        object-fit: cover;
      }
      h3{
        font-size: 18px;
        translate: 0 -2rem;
      }
    }
}

@media(max-width:376px) and (min-width:322px){

  #hero1{
    img{
      height:200px;
      width:100%;
    }
  }

  #hero2{
    p{
      font-size:10px;
    }
  }

  #shop1{
    padding:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border: 1px solid green; */
  }

  #shop2{
    h3{
      font-size:18px;
    }
  }

  #shop3{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    gap: 1rem;
  }

  #shop4{
    width:90%;
  }

  #fest1{
    h3{
      font-size:18px;
    }
    p{
      font-size:14px;
      text-align: center;
    }
  }

  #deal1{
    h3{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
  }

  #per1{
    h3{
      font-size: 18px;
    }
  }

  #per2{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  #per3{
    width:90%;
    p{
      font-size:14px;
      text-align: center;
    }
  }

  #got1{
    flex-direction: column;
    translate: 0px 2rem;
    gap: 10px;
  }

  #got2{
    flex-direction: column;
    padding: 10px;
    width: 80%;
    img{
      /* border: 1px solid red; */
      width:6.2rem;
      height: 6rem;
    }
    p{
      translate: 0 1.8rem;
      font-size: 12px;
    }
  }

  #got3{
    p{
      font-size:14px;
      text-align: center;
      padding: 10px;
    }
  }

  #join1{
    translate: -15rem;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
  }

  #join2{
    height: 8rem;
    width: 40%;
    /* translate: -1rem; */
    background-color: white;
    img{
      translate: 0px -3.2rem;
      padding: 10px;
      margin-right: 1rem;
    }
  }

  #j1{
    h3{
      font-size: 16px;
    }
  }

  #join3{
    height: 8rem;
    flex-direction: column;
    width:50%;
    padding: 10px;
    background-color: white;
    line-height: 14px;
  
    img{
      width: 1.5rem;
      height: 1.5rem; 
    }
    p{
      font-size:10px;
      text-align: center;
    }
    a{
      span{
        font-size:12px;
        font-weight: bold;
      }
    }
    button{
      margin-top: 3px;
      width:50%;
      a{
        font-size: 10px;
        text-align: center;
      }
    }
  }

  #foot1{
    flex-direction: column;
  }

  #foot2{
    width: 100%;
    translate: 0 3rem;
    border-bottom: 1px solid white ;
    /* flex-direction: row; */
  }

  #foot3{
    width:100%;
    padding:1rem;
    padding-left: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid white ;
    p{
      font-size:12px;
    }
  }

  #foot0{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  #foot4{
    width:100%;
  }

  #foot5{
    margin-left: 10px;
    img{
      width:2.9rem;
      height: 2.6rem;
    }
  }

  #foot6{
    margin-top: 10px;
    margin-left: 10px;
    p{
      font-size: 12px;
    }
  }

  #foot7{
    margin-top: 10px;
    margin-left: 10px;
  }

  #foot8{
    width:1rem;
    height: 1rem;
    margin-bottom: 16px;
  }

  #foot9{
    translate: -6.7rem;
    margin-top: 10px;
    p{
      font-size: 12px;
    }
  }

  #foot10{
    width:12px;
    height: 12px;
  }

  #nav1{
    width:4rem;
    /* border : 1px solid blue; */
    img{
      width:4rem;
      height:3rem;
    }
  }

  #nav2{
    p{
      margin-left: 1rem;
      font-size: 8px;
      padding:-5px;
    }
  }

  #nav3{
    padding:-5px;
    a{
      p{
        margin-right: 1rem;
        font-size: 8px;
      }
    }
  }

  #nav4{
    /* border : 1px solid green; */
    translate: 3px;
    ul{
      gap: 10px;
      li{
        font-size: 10px;
      }
    }
  }

  #nav5{
    width:1.5rem;
    height: 14px;
  }

  #nav6{
    /* border: 1px solid yellow; */
    gap: 1px;
    translate: 5px;
  }

  #nav7{
    gap:6px;
  }

  #men1{
    flex-direction: row;
  }

  #men2{
    translate: -2rem;
    width:50%;
  }

  #men3{
    h3{
      font-size: 14px;
    }
  }

  #men4{
    padding: 6px;
    img{
      width:20rem;
      height:10rem;
    }
  }

  #men5{
    label{
      font-size: 10px;
    }
  }

  #men6{
    h2{
      font-size: 14px;
    }
  }

  #men7{
    h3{
      font-size: 12px;
    }
    span{
      font-size: 10px;
    }
  }

  #men8{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 4px;
  }

  #men9{
    h3{
      font-size: 14px;
    }
  }

  #men10{
    font-size: 10px;
    button{
      font-size: 8px;
      padding: 2px;
    }
  }

  #men11{
    padding:6px;
    padding-left: 1px;
    h2{
      font-size: 12px;
    }
  }

  #men12{
    p{
      font-size: 10px;
    }
  }

  #vid1{
    width:100%;
    height: 12rem;
    video{
      width:100%;
      height: 12rem;
      object-fit: cover;
    }
    h3{
      font-size: 18px;
      translate: 0 -2rem;
    }
  }

  #up1{
    translate: 0 -3rem;
  }

  #dis1{
    h3{
      font-size: 1.3rem;
    }
  }

  #dis2{
    h3{
      font-size: 1.3rem;
      translate: 0 -5px;
      padding:5rem;
      /* padding-top:4rem; */
    }
  }

  #up2{
    translate: 0 -4rem;
  }
}

@media(max-width:426px) and (min-width:377px){

  #hero1{
    img{
      height:200px;
      width:100%;
    }
  }

  #hero2{
    p{
      font-size:10px;
    }
  }

  #shop1{
    padding:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* border: 1px solid green; */
  }

  #shop2{
    h3{
      font-size:18px;
    }
  }

  #shop3{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    gap: 1rem;
  }

  #shop4{
    width:90%;
  }

  #fest1{
    h3{
      font-size:18px;
    }
    p{
      font-size:14px;
      text-align: center;
    }
  }

  #deal1{
    h3{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
  }

  #per1{
    h3{
      font-size: 18px;
    }
  }

  #per2{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  #per3{
    width:90%;
    p{
      font-size:14px;
      text-align: center;
    }
  }

  #got1{
    flex-direction: row;
    translate: 0px 2rem;
    gap: 10px;
  }

  #got2{
    flex-direction: column;
    padding: 10px;
    width: 80%;
    img{
      /* border: 1px solid red; */
      width:6.2rem;
      height: 6rem;
    }
    p{
      translate: 0 1.8rem;
      font-size: 12px;
    }
  }

  #got3{
    p{
      font-size:14px;
      text-align: center;
      padding: 10px;
    }
  }

  #join1{
    translate: -15rem;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: row;
  }

  #join2{
    height: 8rem;
    width: 40%;
    /* translate: -1rem; */
    background-color: white;
    img{
      translate: 0px -4.3rem;
      padding: 10px;
      margin-right: 1rem;
    }
  }

  #j1{
    h3{
      font-size: 16px;
    }
  }

  #join3{
    height: 8rem;
    flex-direction: column;
    width:50%;
    padding: 10px;
    background-color: white;
    line-height: 14px;
  
    img{
      width: 1.5rem;
      height: 1.5rem; 
    }
    p{
      font-size:10px;
      text-align: center;
    }
    a{
      span{
        font-size:12px;
        font-weight: bold;
      }
    }
    button{
      margin-top: 3px;
      width:50%;
      a{
        font-size: 10px;
        text-align: center;
      }
    }
  }

  #foot1{
    flex-direction: column;
  }

  #foot2{
    width: 100%;
    translate: 0 3rem;
    border-bottom: 1px solid white ;
    /* flex-direction: row; */
  }

  #foot3{
    width:100%;
    padding:1rem;
    padding-left: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid white ;
    p{
      font-size:12px;
    }
  }

  #foot0{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  #foot4{
    width:100%;
  }

  #foot5{
    margin-left: 10px;
    img{
      width:2.9rem;
      height: 2.6rem;
    }
  }

  #foot6{
    margin-top: 10px;
    margin-left: 10px;
    p{
      font-size: 12px;
    }
  }

  #foot7{
    margin-top: 10px;
    margin-left: 10px;
  }

  #foot8{
    width:1rem;
    height: 1rem;
    margin-bottom: 16px;
  }

  #foot9{
    translate: -6.7rem;
    margin-top: 10px;
    p{
      font-size: 12px;
    }
  }

  #foot10{
    width:12px;
    height: 12px;
  }

  #nav1{
    width:4rem;
    /* border : 1px solid blue; */
    img{
      width:4.5rem;
      height:3.5rem;
    }
  }

  #nav2{
    p{
      margin-left: 1rem;
      font-size: 8px;
      padding:-5px;
    }
  }

  #nav3{
    padding:-5px;
    a{
      p{
        margin-right: 1rem;
        font-size: 8px;
      }
    }
  }

  #nav4{
    /* border : 1px solid green; */
    translate: 3px;
    ul{
      gap: 10px;
      li{
        font-size: 10px;
      }
    }
  }

  #nav5{
    width:1.5rem;
    height: 14px;
  }

  #nav6{
    /* border: 1px solid yellow; */
    gap: 1px;
    translate: 5px;
  }

  #nav7{
    gap:6px;
  }

  #men1{
    flex-direction: row;
  }

  #men2{
    translate: 0 -4rem;
    width:50%;
  }

  #men3{
    h3{
      font-size: 14px;
    }
  }

  #men4{
    padding: 6px;
    img{
      width:20rem;
      height:10rem;
    }
  }

  #men5{
    label{
      font-size: 10px;
    }
  }

  #men6{
    h2{
      font-size: 14px;
    }
  }

  #men7{
    h3{
      font-size: 12px;
    }
    span{
      font-size: 10px;
    }
  }

  #up1{
    translate: 0 -2.5rem;
  }

  #up2{
    translate: 0 -4rem;
  }

  #men8{
    font-size: 10px;
    margin-top: 4px;
    margin-left: 4px;
  }

  #men9{
    h3{
      font-size: 14px;
    }
  }

  #men10{
    font-size: 10px;
    button{
      font-size: 8px;
      padding: 2px;
    }
  }

  #men11{
    padding:6px;
    padding-left: 1px;
    h2{
      font-size: 12px;
    }
  }

  #men12{
    p{
      font-size: 10px;
    }
  }

  #vid1{
    width:100%;
    height: 12rem;
    video{
      width:100%;
      height: 12rem;
      object-fit: cover;
    }
    h3{
      font-size: 22px;
      translate: 0 -2rem;
    }
  }
}

@media(max-width:769px) and (min-width:427px){
  #hero1{
    img{
      height: 350px;
    }
  }

  #shop3{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    gap: 1rem;
  }

  #vid1{
    width:100%;
    height: 20rem;
    video{
      width:100%;
      height: 20rem;
      object-fit: cover;
    }
    h3{
      font-size: 3rem;
      translate: 0 -2rem;
    }
  }

  #per2{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
  }

  #join1{
    translate: -15rem;
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  #foot1{
    flex-direction: row;
    border : 1px solid green;
  }

  #foot2{
    width: 33%;
    translate: 0 10px;
    border: 1px solid white ;
    /* flex-direction: row; */
  }

  #foot3{
    width:33%;
    padding:14px;
    padding-left: 10px;
    padding-bottom: 6px;
    border: 1px solid rgb(210, 228, 78) ;
    p{
      font-size:12px;
    }
  }

  #foot0{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: 1px solid red;
  }

  #foot4{
    width:33%;
    /* translate: 1px; */
    border: 1px solid purple;
  }

  #foot5{
    margin-left: 10px;
    img{
      width:2.9rem;
      height: 2.6rem;
    }
  }

  #foot6{
    margin-top: 10px;
    margin-left: 10px;
    p{
      font-size: 12px;
    }
  }

  #foot7{
    margin-top: 10px;
    margin-left: 10px;
  }

  #foot8{
    width:1rem;
    height: 1rem;
    margin-bottom: 16px;
  }

  #foot9{
    translate: 1px;
    margin-top: 12px;
    p{
      font-size: 12px;
      /* margin-top: 14px; */
      /* padding-top: 3px; */
    }
  }

  #foot91{
    translate: 1px;
    margin-top: 12px;
    p{
      font-size: 12px;
      /* margin-top: 14px; */
      padding-top: 8px;
    }
  }

  #foot10{
    width:12px;
    height: 12px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
